<h1><%= @article.title %></h1>
<br>
<p><%= @article.description %></p>
<h4>Price:</h4>
<% if @article.price != "" %>
  <p>$<%= @article.price %></p>
<% else %>
  <p>N/A</p>
<% end %>

<h4>Contact:</h4>
<p><%= @article.email %></p>

<%= link_to 'Back', category_path(@article.category) %>
<%= link_to 'Edit', edit_category_article_path(@article.category, @article) %>
<%= link_to 'Delete', category_article_path(@article.category), method: :delete %>
